.App-logo {
  height: 4vmin;
  pointer-events: none;
}

#container {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 2em;
  gap: 1px;
}

#test-mdx {
  color: white;
  padding: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
